@import '../../style/variables.css';

.gallery {
    background-color: var(--bg_secundary);
    margin-bottom: 1rem;
    display: flex;
}

.gallery h1 {
    font-family: inherit;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1;
    color: var(--article_primary);
    margin-left: 2rem;
}

.gallery span {
    margin-left: 2rem;
    margin-top: 2rem;
}

.gallery li {
    list-style-type: none;
    line-height: 2;
}

.gallery .pic img {
    width: 170px;
    height: 200px;
}