---
import Layout from "../layouts/pages.astro";
import "../base.css";
---

<Layout
  title="Mano Amiga | Page Not Found"
  description="Page Not Found"
  pubDate={new Date("August 08 2021")}
  heroImage="/blog-placeholder-about.jpg"
>

<section class="p-8">
<h1 class="text-4xl">Sorry, that page can't be found.</h1>
<p class="mt-4"><a href="/" class="text-navprimary">Go to home page</a></p>
</section>




</Layout>
