---
import Layout from "../layouts/pages.astro";
import "../base.css";
---

<Layout
  title="Mano Amiga | About"
  description="Learn how this dream began and what our mission, vision and principles are."
  pubDate={new Date("August 08 2021")}
  heroImage="/blog-placeholder-about.jpg"
>
  <section class="mx-4 md:mx-0">
    <h1 class="font-semibold my-2">Programs</h1>
    <article class="bg-bgsecondary py-4">
      <h2 class="mx-8 font-semibold text-xl text-article_primary py-2">
        Elderly group for people 60 years + (Juventud acumulada)
      </h2>
      <p class="text-article_tertiary mx-8 pb-8 leading-loose">
        The "Juventud Acumulada" program is designed to provide companionship,
        recreation, and support for the elderly in our community. As part of the
        Mano Amiga foundation’s initiatives, this program aims to strengthen
        social and emotional connections among seniors through warm and joyful
        gatherings.
      </p>
      <p class="text-article_tertiary mx-8 pb-8 leading-loose">
        During our meetings, we share meals, play games, engage in meaningful
        conversations, and enjoy enriching moments in a welcoming environment.
        We believe that age is just a number and that vitality thrives when
        there is companionship and fun. If you would like to participate or
        support Accumulated Youth, contact us and be part of this wonderful
        initiative!
      </p>
      <h2 class="mx-8 font-semibold text-xl text-article_primary py-2">
        Mental health (Counselling and workshops)
      </h2>
      <p class="text-article_tertiary mx-8 pb-8 leading-loose">
        At Mano Amiga NZ, we care about the well-being of our community. Our
        Mental Health Support program offers counseling sessions and workshops
        to help individuals navigate emotional challenges, stress, and personal
        difficulties.
      </p>
      <p class="text-article_tertiary mx-8 pb-8 leading-loose">
        Through these initiatives, we aim to provide a safe space for sharing
        experiences, learning coping strategies, and promoting mental
        well-being. Our goal is to support, guide, and empower our community
        members to take care of their mental health.
      </p>
      <video width="100%" height="240" autoplay controls loop muted poster="/images/manoamiga.mental.health.jpg">
        <source src="/images/manoamiga.mental.health.mp4" type="video/mp4" /> 
        Your browser does not support the video tag.
      </video>
      <p class="text-article_tertiary mx-8 py-8 leading-loose">
        If you need support, don’t hesitate to reach out. You are not alone!
      </p>
      <h2 class="mx-8 font-semibold text-xl text-article_primary py-2">
        Spanish school holidays
      </h2>

      <p class="text-article_tertiary mx-8 pb-8 leading-loose">
        At Mano Amiga NZ, we are committed to teaching our culture and
        preserving our language for future generations of Latin@s living in
        Aotearoa. Through engaging activities and educational programs, we
        ensure that our traditions, values, and Spanish language remain alive
        within our community. A special thanks to our dedicated volunteers and
        the lead teacher of this project, whose passion and effort make this
        initiative possible. Together, we keep our heritage strong!
      </p>
      <h2 class="mx-8 font-semibold text-xl text-article_primary py-2">
        Social support (helping individual and families facing difficulties as
        sickness, accidents and working issues)
      </h2>
      <p class="text-article_tertiary mx-8 pb-8 leading-loose">
        We provide emotional support, guidance, and practical assistance to
        those in need, ensuring they do not face these challenges alone. Whether
        it’s connecting people with resources, offering a helping hand, or
        simply being there to listen, our goal is to make a positive impact in
        their lives. If you or someone you know needs support, don’t hesitate to
        reach out. Together, we are stronger!
      </p>
    </article>
  </section>
</Layout>
