div.comments {
    display: block; 
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: var(--bg_secundary);
    padding: 1rem;
    border-radius: .3rem;
    color: var(--primary);
}

p.comment {
	 
    font-size: .8rem;
}

p.author {
	font-size: 0.6rem;
	font-weight: bold;
    text-align: right; 
}

hr {
    color: var(--primary);
    opacity: .3;
}