---
import Layout from "../../layouts/pages.astro";
import "../../base.css";
---

<Layout
  title="Mano Amiga | About"
  description="Learn how this dream began and what our mission, vision and principles are."
  pubDate={new Date("August 08 2021")}
  heroImage="/blog-placeholder-about.jpg"
>
  <section class="mx-4 md:mx-0">
    <h1 class="font-semibold my-2">Programs</h1>
    <article class="bg-bgsecondary py-4">
      <h2 class="mx-8 font-semibold text-xl text-article_primary py-2">
        Juventud acumulada
      </h2>
      <p class="text-article_tertiary mx-8 pb-8 leading-loose">
        El programa "Juventud Acumulada" está diseñado para brindar compañía,
        recreación y apoyo a las personas mayores de nuestra comunidad. Como
        parte de las iniciativas de la Fundación Mano Amiga, este programa busca
        fortalecer los vínculos sociales y emocionales entre las personas
        mayores mediante encuentros cálidos y alegres.
      </p>
      <p class="text-article_tertiary mx-8 pb-8 leading-loose">
        Durante nuestras reuniones, compartimos comidas, jugamos, entablamos
        conversaciones significativas y disfrutamos de momentos enriquecedores
        en un ambiente acogedor. Creemos que la edad es solo un número y que la
        vitalidad florece cuando hay compañía y diversión. Si quieres participar
        o apoyar a Jóvenes Acumulados, contáctanos y forma parte de esta
        maravillosa iniciativa.
      </p>
      <h2 class="mx-8 font-semibold text-xl text-article_primary py-2">
        Salud mental (Asesoramiento y talleres)
      </h2>
      <p class="text-article_tertiary mx-8 pb-8 leading-loose">
        En Mano Amiga NZ, nos preocupamos por el bienestar de nuestra comunidad.
        Nuestro programa de Apoyo a la Salud Mental ofrece sesiones de terapia y
        talleres para ayudar a las personas a afrontar los desafíos emocionales,
        el estrés y las dificultades personales.
      </p>
      <p class="text-article_tertiary mx-8 pb-8 leading-loose">
        A través de estas iniciativas, buscamos brindar un espacio seguro para
        compartir experiencias, aprender estrategias de afrontamiento y promover
        el bienestar mental. Nuestro objetivo es apoyar, guiar y empoderar a los
        miembros de nuestra comunidad para que cuiden su salud mental.
      </p>
      <video width="100%" height="240" autoplay controls loop muted poster="/images/manoamiga.mental.health.jpg">
        <source src="/images/manoamiga.mental.health.mp4" type="video/mp4" /> 
        Your browser does not support the video tag.
      </video>
      <p class="text-article_tertiary mx-8 py-8 leading-loose">
        Si necesitas ayuda, no dudes en contactarnos. ¡No estás solo/a!
      </p>
      <h2 class="mx-8 font-semibold text-xl text-article_primary py-2">
        Vacaciones escolares en español
      </h2>

      <p class="text-article_tertiary mx-8 pb-8 leading-loose">
        En Mano Amiga NZ, nos comprometemos a enseñar nuestra cultura y a
        preservar nuestro idioma para las futuras generaciones de latinos que
        viven en Aotearoa. Mediante actividades atractivas y programas
        educativos, garantizamos que nuestras tradiciones, valores y el español
        se mantengan vivos en nuestra comunidad. Un agradecimiento especial a
        nuestros dedicados voluntarios y a la maestra principal de este
        proyecto, cuya pasión y esfuerzo hacen posible esta iniciativa. ¡Juntos,
        mantenemos nuestra herencia viva!
      </p>
      <h2 class="mx-8 font-semibold text-xl text-article_primary py-2">
        Apoyo social (ayuda a personas y familias que enfrentan dificultades
        como enfermedades, accidentes y problemas laborales)
      </h2>
      <p class="text-article_tertiary mx-8 pb-8 leading-loose">
        Brindamos apoyo emocional, orientación y asistencia práctica a quienes
        lo necesitan, asegurándonos de que no enfrenten estos desafíos solos. Ya
        sea conectando a las personas con recursos, ofreciendo una mano amiga o
        simplemente estando ahí para escuchar, nuestro objetivo es tener un
        impacto positivo en sus vidas. Si usted o alguien que conoce necesita
        apoyo, no dude en contactarnos. ¡Juntos, somos más fuertes!
      </p>
    </article>
  </section>
</Layout>
